server:
  port: ${PORT:8080}
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 30
    health-check-url-path: /actuator/health
    prefer-ip-address: true
  client:
    registryFetchIntervalSeconds: 5
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761/eureka/}
management:
  otlp:
    metrics:
      export:
        url: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318}/v1/metrics
        batchSize: 10000
        aggregationTemporality: cumulative
        step: 1m
        enabled: ${MANAGEMENT_OTLP_METRICS_EXPORT_ENABLED:true}
#       headers: # prefer use OTEL_EXPORTER_OTLP_HEADERS
#         Authorization: Bearer TOKEN
#         Custom-Header: EHLO
    tracing:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318}/v1/traces
#     headers:  # prefer use OTEL_EXPORTER_OTLP_HEADERS
#       Authorization: Bearer TOKEN
#       Custom-Header: EHLO
  endpoints:
    web:
      exposure:
        include: gateway,health,info,metrics,prometheus
    jmx:
      exposure:
        include: gateway,health,info,metrics,prometheus
  endpoint:
    gateway:
      access: read-only
    health:
      show-details: when_authorized
      show-components: when_authorized
    configprops:
      show-values: when_authorized
    env:
      show-values: when_authorized
  server:
    port: ${MANAGEMENT_PORT:8180}
spring:
  application:
    name: ${APP_NAME:spring-cloud-apigateway-discoverylocator}
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          filters:
            - PreserveHostHeader
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: ${GATEWAY_CORS_ALLOWED_ORIGINS:'*'}
            allowedMethods: ${GATEWAY_CORS_ALLOWED_METHODS:'GET,POST,PUT,DELETE,HEAD,OPTIONS'}
            allowedHeaders: ${GATEWAY_CORS_ALLOWED_HEADERS:'Content-type,Authorization'}
