server:
  port: ${PORT:8080}
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 30
    health-check-url-path: /actuator/health
    prefer-ip-address: true
  client:
    registryFetchIntervalSeconds: 5
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761/eureka/}
management:
  info:
    env:
      enabled: true
    java:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
      show-components: ALWAYS
    shutdown:
      enabled: false
  server:
    port: ${MANAGEMENT_PORT:8180}
spring:
  application:
    name: ${APP_NAME:spring-cloud-apigateway-discoverylocator}
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          filters:
            - PreserveHostHeader
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: '*'
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - HEAD
              - OPTIONS
            allowedHeaders:
              - Content-type
              - Authorization
