server:
  port: ${PORT:8080}
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 30
    health-check-url-path: /actuator/health
    prefer-ip-address: true
  client:
    registryFetchIntervalSeconds: 5
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761/eureka/}
management:
  info:
    env:
      enabled: false
    java:
      enabled: false
    os:
      enabled: false
    git:
      enabled: false
      mode: simple
    defaults:
      enabled: true
  endpoints:
    web:
      exposure:
        include: gateway,health,info
    jmx:
      exposure:
        include: gateway,health,info
  endpoint:
    gateway:
      access: read-only
    health:
      show-details: ALWAYS
      show-components: ALWAYS
    shutdown:
      enabled: false
  server:
    port: ${MANAGEMENT_PORT:8180}
spring:
  application:
    name: ${APP_NAME:spring-cloud-apigateway-discoverylocator}
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          filters:
            - PreserveHostHeader
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: ${GATEWAY_CORS_ALLOWED_ORIGINS:'*'}
            allowedMethods: ${GATEWAY_CORS_ALLOWED_METHODS:'GET,POST,PUT,DELETE,HEAD,OPTIONS'}
            allowedHeaders: ${GATEWAY_CORS_ALLOWED_HEADERS:'Content-type,Authorization'}
