receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
processors:
  batch:
exporters:
  debug:
    verbosity: detailed
#  zipkin/jaeger:
#    endpoint: http://jaeger:9411/api/v2/spans
#  loki:
#    endpoint: http://loki:3100/loki/api/v1/push
#  prometheusremotewrite:
#    endpoint: http://prometheus:9090/api/v1/write
service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug] # [debug,loki]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug] # [debug,zipkin/jaeger]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug] # [debug,prometheusremotewrite]